<div class="favorite-container">
  <div class="books-container">
    <h2 class="title h2">Recommended Book</h2>


  <h3>投稿を検索</h3>
<%= form_tag({controller:"books",action:"favorite"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

  <% @books.each do |t| %>


    <div class="books">
      <div class="left-container">
        <% if t.image? %>
          <%= image_tag t.image_url, size: "250x250" if t.image? %>
        <% else %>
          <%= image_tag "/assets/default_icon.png", size: "250x200"%>
        <% end %>
        
      </div>
      <div class="right-container">
        <div class="right-child user-name"></div>
        <div class="right-child title"><h3>Title</h3><span class="right-content"><%= t.name %></span></div>
        <div class="right-child content"><h3>Content</h3><span class="right-content"><%= t.body %></span></div>
        <div id="rate-average-<%= t.id %>"></div>
            <script>
            $('#rate-average-<%= t.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= Comment.where(book_id: t.id).average(:rate) %>,
            });
            </script>        
        <div class="right-child detail">
          <%= t.user.name %>
          <%= t.created_at %>
          <%= link_to "詳細へ", book_path(t.id) %>
        </div>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= button_to book_like_path(id: t.id, book_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
              <i class="far fa-comment"></i><%= t.comments.count%>
            <% end %>
          <% else %>
            <!-- メソッドが関係しているものはbutton_toで書かないとダメぽい-->
            <%= button_to book_likes_path(id: t.id, book_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
              <i class="far fa-comment regular"></i><%= t.comments.count%>
            <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <i class="far fa-comment"></i><%= t.comments.count%>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<%= page_entries_info @books %>
<%= paginate @books %>
</div>
<%= link_to "ランキング", books_ranking_path %>
<%= link_to "ランキング2", books_ranking2_path %>
<%= link_to "ランキング3", books_ranking3_path %>