

<!-- 検索バー -->
<div class="favorite-adjust"></div>
  <%= form_tag({controller:"books",action:"favorite"}, method: :get, class:'search-container') do %>
    <!-- text_field_tag の第2引数はvalueなので空白をいれておく -->
    <%= text_field_tag :search , '', placeholder: '好きな本を検索'%>
    <%= button_tag :type => "submit", :class => "search-btn" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div class="books-container">
    <h2 class="recommend animate-title">Recommended Book</h2>

    <% @books.each do |t| %>
      <div class ="contributor">
        <div class="contributor__inner">            
          <div class="contribute-name">
            <!-- userの画像あったらよかった-->

            <h3><span class="min-post">投稿者：</span> <%= link_to t.user.name ,user_path(t.user.id) %></h3>
          </div>
          <div class="contribute-time">
            <%= t.created_at.strftime('%Y年%m月 %d日') %>   
          </div>
        </div>
      </div>
      <div class="books">
        <div class="books__inner">
          <div class="books__img">
            <% if t.image? %>
              <%= image_tag t.image_url  %>
            <% else %>
              <div class="no-image"><span class="purple">No</span><span>Image</span></div>
              <%= image_tag "/assets/book4"%>
            <% end %>       
          </div>
          <div class="books__texts">

            <div class="title">
              <h3 class="purple">作品名</h3>       
            </div>
            <div class="books_content">
              <h2>「<%= t.name %>」</h2>         
            </div>
            <div class="star__rate">
              <div class="sub-title">
                <h3>投稿に対する評価</h3>
              </div>
              <% if Comment.where(book_id: t.id).average(:rate).present? %>
                <div id="rate-average-<%= t.id %>"></div>
                  <script>
                  $('#rate-average-<%= t.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= Comment.where(book_id: t.id).average(:rate) %>,
                  });
                  </script>
              <% else %>
              <h5 class="sub-title books__content">評価がありません</h5>
              <% end %>        
            </div>
            
            <div class="right-child detail">            
              <%= link_to "詳細へ", book_path(t.id),{class: "link-btn btn filled"} %>
            </div>
          </div>
            <% if user_signed_in? %>
              <% if current_user.already_liked?(t) %>
                <%= button_to book_like_path(id: t.id, book_id: t.id), {method: :delete, class: "good-btn"} do %>
                  <div class="heart-mark">                
                    <i class="fas fa-heart"></i>
                    <span class="heart-count"><%= t.likes.count %></span>
                  </div>
                  <div class="comment-mark">
                    <i class="far fa-comment"></i>
                    <span class="comment-count"><%= t.comments.count%></span>
                  </div>
                <% end %>
              <% else %>
                <!-- メソッドが関係しているものはbutton_toで書かないとダメぽい-->
                <%= button_to book_likes_path(id: t.id, book_id: t.id), {method: :post, class: "good-btn"} do %>
                  <div class="heart-mark">
                    <i class="far fa-heart"></i>
                    <span class="heart-count"><%= t.likes.count %></span>
                  </div>
                  <div class="comment-mark">
                    <i class="far fa-comment regular"></i>
                    <span class="comment-count"><%= t.comments.count%></span>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <button class="good-btn">
                <div class="heart-mark">
                  <i class="far fa-heart"></i>
                  <span class="heart-count"><%= t.likes.count %></span> 
                </div>
                <div class="comment-mark">
                  <i class="far fa-comment"></i>
                  <span class="comment-count"><%= t.comments.count%></span>              
                </div>
              </button>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

<%= page_entries_info @books%>
<%= paginate @books %>

    <div class="ranking">
      <div class="ranking__text">
        <h2 class="recommend animate-title">Ranking</h2>
        <h5 class="sub-title animate-title">評価の高い本からおすすめを探そう！</h5>
      </div>
      <div class="ranking__content">
        <div class="ranking__star">
            <h2>星評価</h2>
            <%= link_to  books_star_rank_path do%>

              <%= image_tag "/assets/star-rank2" , class: "rank-img"%>  
            <% end %>
        </div>    
        <div class="ranking__comment">
          <h2>コメント数</h2>
          <%= link_to  books_comment_rank_path do%>
            <%= image_tag "/assets/talk-1" , class: "rank-img"%>
          <% end %>      
        </div>
        <div class="ranking__good">
          <h2>いいね数</h2>
            <%= link_to  books_good_rank_path do%>
              <%= image_tag "/assets/heart-rank2" , class: "rank-img "%>
            <% end %> 
        </div>
      </div>
    </div>


