 <%= javascript_pack_tag 'application' %>
 <%= stylesheet_pack_tag 'swiper.min.css'%>
  <div id="content">
                <div class="hero">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            
                            <div class="swiper-slide">
                                <div class="hero__title">Enjoy Rich</div>
                                <img src="assets/book1.jpg">
                             
                            </div>
                            
                            <div class="swiper-slide">
                                <div class="hero__title">Enjoy Rich</div>
                                <img src="assets/book2.jpg">
                            </div>
                            <div class="swiper-slide">
                                <div class="hero__title">Enjoy Rich</div>
                                <img src="assets/book3.jpg">
                            </div>

                        </div>
                        <div class="hero__footer">
                            <img class="hero__downarrow"src="assets/arrow.svg">
                            <span class="hero__scrolltext">scroll</span>
                            
                        </div>
                        <!-- If we need pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    
                        <!-- If we need navigation buttons -->
                        <!-- <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div> -->
                    
                        <!-- If we need scrollbar -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                </div>
            </div>         
<% if user_signed_in? %>  
    <%= link_to "投稿する", new_book_path %>
<% end %>
    <%= link_to "みんなの投稿", books_favorite_path %>
</div>



<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<%= javascript_pack_tag 'vender/hero-slider'%>