<!DOCTYPE html>
<html>
  <head>
    <title>Mybook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <!-- bootstrapでページネーションのデザイン-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <%= stylesheet_link_tag "/assets/modules/Avariables"%>
    <!--コード追加 Bootstrap JavaScript読み込みコード -->

    <!-- 遼太郎さんの-->
    <script type="text/javascript">
    $(window).bind("unload",function(){});
    </script>

 
  </head>
    
<body>
  <div id="global-container">
    <div id="container">   
        <div id="content">
            <div class="mobile-menu__cover"></div>
            <!-- headerのスクロールを検知するための空div-->
            <div class="nav-trigger"></div>
            <header class="header">
                <div class="header__inner">
                    <div class="logo">
                        <%= link_to "", books_path ,class: "home-logo"%>
                        <img src="">
                        <span class="logo__my">My</span>
                        <span class="logo__Book">Book</span>
                    </div>
                    <nav class="header__nav">
                        <ul class="header__ul">
                            <li class="header__li"><%= link_to 'Post', books_favorite_path %></li>
                        <% if user_signed_in? %>  
                            <li class="header__li"><%= link_to 'Mypage' , user_path(current_user.id) %></li>
                            <li class="header__li"><%= link_to 'logout' , destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li class="header__li"><%= link_to 'Login', user_session_path %></li>
                        <% end %>
                        </ul>
                    </nav>
                    <button class="mobile-menu__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </header>
                <%= yield %>
        </div>
    </div>
        
     <nav class="mobile-menu">
        <div class="logo">
          <img src="" alt="" class="logo__img" />
          <span class="logo__my">My</span>
          <span class="purple">Book</span>
        </div>
        <ul class="mobile-menu__main">
          <li class="mobile-menu__item">
            <%= link_to books_path ,class: "mobile-menu__link" do %>
              <span class="main-title">HOME</span>
              <span class="sub-title">ホーム画面</span>
            <% end %>
            </a>
          </li>
          <li class="mobile-menu__item">
            <%= link_to books_favorite_path ,class: "mobile-menu__link" do %>
              <span class="main-title">Post</span>
              <span class="sub-title">投稿一覧</span>
            <% end %>
            </a>
          </li>
          <% if user_signed_in? %>
          <li class="mobile-menu__item">
            <%= link_to user_path(current_user.id),class: "mobile-menu__link" do %>
              <span class="main-title">MyPage</span>
              <span class="sub-title">マイページ</span>
            <% end %>
            </a>
          </li>
          <li class="mobile-menu__item">
            <%= link_to  destroy_user_session_path,{method: :delete,class: "mobile-menu__link"} do %>
              <span class="main-title">Log Out</span>
              <span class="sub-title">ログアウト</span>
            <% end %>
          </li>
          <% else %>
          <li class="mobile-menu__item">
            <%= link_to  user_session_path,class: "mobile-menu__link" do %>
              <span class="main-title">Log In</span>
              <span class="sub-title">ログイン</span>
            <% end %>
          </li>

          <% end %>
        </ul>
      </nav>
  </div>
</body>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<%= javascript_pack_tag 'vender/scroll-polyfill'%>
<%= javascript_pack_tag 'libs/scroll'%>
<%= javascript_pack_tag 'libs/text-animation'%>
<%= javascript_pack_tag 'libs/mobile-menu'%>
<%= javascript_pack_tag 'libs/comment'%>
</html>
